* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "m plus 1p";
  color: rgb(59, 59, 59);
  background-color: #eee;
}

.container {
  width: 1250px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#mainheader {
  position: sticky;
  top: 0;
  padding-bottom: 20px;
  background-color: #eee;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid rgb(190, 190, 190);
    background-color: #eee;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 30px;

    li {
      border: 1px solid #eee;
      border-radius: 10px;
      padding: 3px;

      &:active {
        border: 1px solid black;
      }
    }
  }
}

input {
  width: 100%;
  margin: 50px 0;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid gray;

  &:hover {
    box-shadow: 0 0 20px rgb(0, 153, 255);
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 15px;
  margin-bottom: 80px;

  .product {
    height: 51vh;

    &-1 {
      grid-column: span 1;
      grid-row: span 1;
      background-color: white;
      overflow: hidden;

      .prem-h {
        background-color: #424649;
        width: 100%;
        height: 100px;
        margin-top: 110%;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px 30px 20px;

        i {
          color: yellow;
        }
      }

      &:hover {
        .prem-h {
          margin-top: 83%;
        }
      }
    }

    &-2 {
      grid-column: span 1;
      grid-row: span 1;
      background-color: white;
      overflow: hidden;

      .prem-h {
        background-color: #424649;
        width: 100%;
        height: 100px;
        margin-top: 110%;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px 30px 20px;

        i {
          color: yellow;
        }
      }

      &:hover {
        .prem-h {
          margin-top: 83%;
        }
      }
    }

    &-3 {
      grid-column: span 1;
      grid-row: span 1;
      background-color: white;
      overflow: hidden;

      .prem-h {
        background-color: #424649;
        width: 100%;
        height: 100px;
        margin-top: 110%;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px 30px 20px;

        i {
          color: yellow;
        }
      }

      &:hover {
        .prem-h {
          margin-top: 83%;
        }
      }
    }

    &-4 {
      grid-column: span 1;
      grid-row: span 1;
      background-color: white;
      overflow: hidden;

      .prem-h {
        background-color: #424649;
        width: 100%;
        height: 100px;
        margin-top: 110%;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px 30px 20px;

        i {
          color: yellow;
        }
      }

      &:hover {
        .prem-h {
          margin-top: 83%;
        }
      }
    }

    &-5 {
      grid-column: span 1;
      grid-row: span 1;
      background-color: white;
      overflow: hidden;

      .prem-h {
        background-color: #424649;
        width: 100%;
        height: 100px;
        margin-top: 110%;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px 30px 20px;

        i {
          color: yellow;
        }
      }

      &:hover {
        .prem-h {
          margin-top: 83%;
        }
      }
    }

    &-6 {
      grid-column: span 1;
      grid-row: span 1;
      background-color: white;
      overflow: hidden;

      .prem-h {
        background-color: #424649;
        width: 100%;
        height: 100px;
        margin-top: 110%;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px 30px 20px;

        i {
          color: yellow;
        }
      }

      &:hover {
        .prem-h {
          margin-top: 83%;
        }
      }
    }

    &-7 {
      grid-column: span 1;
      grid-row: span 1;
      background-color: white;
      overflow: hidden;

      .prem-h {
        background-color: #424649;
        width: 100%;
        height: 100px;
        margin-top: 110%;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px 30px 20px;

        i {
          color: yellow;
        }
      }

      &:hover {
        .prem-h {
          margin-top: 83%;
        }
      }
    }

    &-8 {
      grid-column: span 1;
      grid-row: span 1;
      background-color: white;
      overflow: hidden;

      .prem-h {
        background-color: #424649;
        width: 100%;
        height: 100px;
        margin-top: 110%;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px 30px 20px;

        i {
          color: yellow;
        }
      }

      &:hover {
        .prem-h {
          margin-top: 83%;
        }
      }
    }

    &-9 {
      grid-column: span 1;
      grid-row: span 1;
      background-color: white;
      overflow: hidden;

      .prem-h {
        background-color: #424649;
        width: 100%;
        height: 100px;
        margin-top: 110%;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px 30px 20px;

        i {
          color: yellow;
        }
      }

      &:hover {
        .prem-h {
          margin-top: 83%;
        }
      }
    }

    &-10 {
      grid-column: span 1;
      grid-row: span 1;
      background-color: white;
      overflow: hidden;

      .prem-h {
        background-color: #424649;
        width: 100%;
        height: 100px;
        margin-top: 110%;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px 30px 20px;

        i {
          color: yellow;
        }
      }

      &:hover {
        .prem-h {
          margin-top: 83%;
        }
      }
    }

    &-11 {
      grid-column: span 1;
      grid-row: span 1;
      background-color: white;
      overflow: hidden;

      .prem-h {
        background-color: #424649;
        width: 100%;
        height: 100px;
        margin-top: 110%;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px 30px 20px;

        i {
          color: yellow;
        }
      }

      &:hover {
        .prem-h {
          margin-top: 83%;
        }
      }
    }

    &-12 {
      grid-column: span 1;
      grid-row: span 1;
      background-color: white;
      overflow: hidden;

      .prem-h {
        background-color: #424649;
        width: 100%;
        height: 100px;
        margin-top: 110%;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px 30px 20px;

        i {
          color: yellow;
        }
      }

      &:hover {
        .prem-h {
          margin-top: 83%;
        }
      }
    }

    &-13 {
      grid-column: span 1;
      grid-row: span 1;
      background-color: white;
      overflow: hidden;

      .prem-h {
        background-color: #424649;
        width: 100%;
        height: 100px;
        margin-top: 110%;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px 30px 20px;

        i {
          color: yellow;
        }
      }

      &:hover {
        .prem-h {
          margin-top: 83%;
        }
      }
    }

    &-14 {
      grid-column: span 1;
      grid-row: span 1;
      background-color: white;
      overflow: hidden;

      .prem-h {
        background-color: #424649;
        width: 100%;
        height: 100px;
        margin-top: 110%;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px 30px 20px;

        i {
          color: yellow;
        }
      }

      &:hover {
        .prem-h {
          margin-top: 83%;
        }
      }
    }

    &-15 {
      grid-column: span 1;
      grid-row: span 1;
      background-color: white;
      overflow: hidden;

      .prem-h {
        background-color: #424649;
        width: 100%;
        height: 100px;
        margin-top: 110%;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px 30px 20px;

        i {
          color: yellow;
        }
      }

      &:hover {
        .prem-h {
          margin-top: 83%;
        }
      }
    }

    &-16 {
      grid-column: span 1;
      grid-row: span 1;
      background-color: white;
      overflow: hidden;

      .prem-h {
        background-color: #424649;
        width: 100%;
        height: 100px;
        margin-top: 110%;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px 30px 20px;

        i {
          color: yellow;
        }
      }

      &:hover {
        .prem-h {
          margin-top: 83%;
        }
      }
    }

    &-17 {
      grid-column: span 1;
      grid-row: span 1;
      background-color: white;
      overflow: hidden;

      .prem-h {
        background-color: #424649;
        width: 100%;
        height: 100px;
        margin-top: 110%;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px 30px 20px;

        i {
          color: yellow;
        }
      }

      &:hover {
        .prem-h {
          margin-top: 83%;
        }
      }
    }

    &-18 {
      grid-column: span 1;
      grid-row: span 1;
      background-color: white;
      overflow: hidden;

      .prem-h {
        background-color: #424649;
        width: 100%;
        height: 100px;
        margin-top: 110%;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px 30px 20px;

        i {
          color: yellow;
        }
      }

      &:hover {
        .prem-h {
          margin-top: 83%;
        }
      }
    }

    &-19 {
      grid-column: span 1;
      grid-row: span 1;
      background-color: white;
      overflow: hidden;

      .prem-h {
        background-color: #424649;
        width: 100%;
        height: 100px;
        margin-top: 110%;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px 30px 20px;

        i {
          color: yellow;
        }
      }

      &:hover {
        .prem-h {
          margin-top: 83%;
        }
      }
    }

    &-20 {
      grid-column: span 1;
      grid-row: span 1;
      background-color: white;
      overflow: hidden;

      .prem-h {
        background-color: #424649;
        width: 100%;
        height: 100px;
        margin-top: 110%;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px 30px 20px;

        i {
          color: yellow;
        }
      }

      &:hover {
        .prem-h {
          margin-top: 83%;
        }
      }
    }
  }
}

.brands {
  width: 250px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-left: 60px;

  i {
    cursor: pointer;
  }
}

footer {
  background-color: white;

  .info {
    display: flex;
    padding: 60px;
    color: black;

    strong {
      font-size: 27px;
    }

    ul {
      font-weight: 400;
      color: #303030;
      line-height: 30px;
    }

    .ft-1 {
      flex: 1;

      p {
        width: 250px;
        margin-top: 50px;
      }
    }

    .ft-2 {
      flex: 1;
    }

    .ft-3 {
      flex: 1;
    }

    .ft-4 {
      flex: 1;
    }
  }

  .copyright {
    color: white;
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    padding: 23px 60px;
    font-weight: 400;

    strong {
      font-weight: 400;
    }
  }
}
